In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
username = "ADMPRM$PM"
password = "Prima123Vera"
host = "localhost"
port = 1521
service_name = "XE"

In [4]:
dsn = f"oracle+cx_oracle://{username}:{password}@{host}:{port}/{service_name}"
engine = create_engine(dsn)

In [5]:
SCHEDULE_TYPE_UDF_TYPE_ID = 14334
DATA_DATE_UDF_TYPE_ID = 14335
BASELINE_UDF_TYPE_ID = 14336
PARENT_BASELINE_UDF_TYPE_ID = 14337
PROJECT_NAME_UDF_TYPE_ID = 178

In [6]:
Query = "SELECT UDF_TEXT FROM UDFVALUE WHERE UDF_TYPE_ID = 14335"
with engine.begin() as connection:
    Data_Date_df = pd.read_sql(Query, con=connection)

In [7]:
if Data_Date_df is not None and not Data_Date_df.empty:
    Data_Date_df['Data_Date'] = pd.to_datetime(Data_Date_df['udf_text'], dayfirst=True).dt.strftime('%d-%m-%Y')
    Data_Date_df_unique = Data_Date_df.drop_duplicates(subset=['Data_Date'])
    Data_Date_df_unique.to_excel('output.xlsx', columns=['Data_Date'], index=False)
else:
    print("Data_Date_df is None or Empty")

In [8]:
Query = "SELECT PROJ_ID FROM UDFVALUE WHERE UDF_TYPE_ID = 14335 AND UDF_TEXT = '02-05-2024'"
with engine.begin() as connection:
    Project_ID_df = pd.read_sql(Query, con=connection)

In [9]:
Project_ID_df.head()

   proj_id
0    37236

In [10]:
Query = '''SELECT 
    SUM(TARGET_COST) AS TotalTargetCost, 
    SUM(ACT_COST) AS TotalActualCost, 
    SUM(REMAIN_COST) AS TotalRemainingCost
FROM PROJCOST
WHERE PROJ_ID = 37236'''
with engine.begin() as connection:
    Project_Progress_df = pd.read_sql(Query, con=connection)

In [11]:
Project_Progress_df = Project_Progress_df.applymap(lambda x: "{:,}".format(x) if isinstance(x, (int, float)) else x)
Project_Progress_df.head()

C:\Users\IEC\AppData\Local\Temp\ipykernel_15008\1763749421.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  Project_Progress_df = Project_Progress_df.applymap(lambda x: "{:,}".format(x) if isinstance(x, (int, float)) else x)

   totaltargetcost  totalactualcost totalremainingcost
0  62,824,426.4983  53,857,715.9676     8,966,710.5476