In [135]:
# Collect desired calendar properties from initial input
# 1- access data source
# 2- creat calendar structure for each calendar
# 3- Fill structure with calendar properties and calendar data
# 4- Process calendar data

In [136]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [137]:
# specify the file path, you might need to adjust this
file_path = "TST00.xlsx"
# Load the calendar data into a DataFrame
calendar_df = pd.read_excel(file_path, sheet_name='CALENDAR')
# Load a sheet into a dataframe by its name
project_df = pd.read_excel(file_path, sheet_name='PROJECT')

In [138]:
calendar_df

,%F,clndr_id,default_flag,clndr_name,proj_id,base_clndr_id,last_chng_date,clndr_type,day_hr_cnt,week_hr_cnt,month_hr_cnt,year_hr_cnt,rsrc_private,clndr_data
0,%R,993,Y,NOMA02 GLOBAL CALENDAR REV00,NaN,NaN,2024-01-04 00:00,CA_Base,10,60,260,3030,N,(0||CalendarData()( (0||DaysOfWeek()( ...

In [139]:
calendar_struct = calendar_df.iloc[0].to_dict()
# get first key
first_key = next(iter(calendar_struct))

# delete first key-value pair
calendar_struct.pop(first_key)

'%R'

In [140]:
calendar_struct

{'clndr_id': 993,
 'default_flag': 'Y',
 'clndr_name': 'NOMA02 GLOBAL CALENDAR REV00',
 'proj_id': nan,
 'base_clndr_id': nan,
 'last_chng_date': '2024-01-04 00:00',
 'clndr_type': 'CA_Base',
 'day_hr_cnt': 10,
 'week_hr_cnt': 60,
 'month_hr_cnt': 260,
 'year_hr_cnt': 3030,
 'rsrc_private': 'N',
 'clndr_data': '(0||CalendarData()(\x7f\x7f  (0||DaysOfWeek()(\x7f\x7f    (0||1()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||2()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||3()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||4()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||5()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||6()())\x7f\x7f    (0||7()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))))\x7f\x7f  (0||VIEW(ShowTotal|Y)())\x7f\x7f  (0||Exceptions()(\x7f\x7f    (0||0(d|44197)(\x7f\x7f      (0||0(s|08:00|f|16:00)())))\x7f\x7f    (0||1(d|44979)())\x7f\x7f    (0||2(d|45038)())\x7f\x7f    (0||3(d|45039)())\x7f\x7f    (0||4(d|45040)())\x7f\x7f    (0||5(d|45041)())\x7f\x7f    (0||6(d|45104)())\x7f\x7f    (0||7(d|45105)())\x7f\x7f    (0||8(d|45106)())\x7f\x7f    (0||9(d|45108)())\x7f\x7f    (0||10(d|45192)())\x7f\x7f    (0||11(d|45344)())\x7f\x7f    (0||12(d|45391)())\x7f\x7f    (0||13(d|45392)())\x7f\x7f    (0||14(d|45393)())\x7f\x7f    (0||15(d|45395)())\x7f\x7f    (0||16(d|45458)())\x7f\x7f    (0||17(d|45459)())\x7f\x7f    (0||18(d|45460)())\x7f\x7f    (0||19(d|45461)())\x7f\x7f    (0||20(d|45558)())\x7f\x7f    (0||21(d|45679)())\x7f\x7f    (0||22(d|45710)())\x7f\x7f    (0||23(d|45746)())\x7f\x7f    (0||24(d|45747)())\x7f\x7f    (0||25(d|45748)())\x7f\x7f    (0||26(d|45749)())\x7f\x7f    (0||27(d|45813)())\x7f\x7f    (0||28(d|45815)())\x7f\x7f    (0||29(d|45816)())\x7f\x7f    (0||30(d|45817)())\x7f\x7f    (0||31(d|45923)())\x7f\x7f    (0||32(d|46075)())\x7f\x7f    (0||33(d|46100)())\x7f\x7f    (0||34(d|46102)())\x7f\x7f    (0||35(d|46103)())\x7f\x7f    (0||36(d|46104)())\x7f\x7f    (0||37(d|46168)())\x7f\x7f    (0||38(d|46169)())\x7f\x7f    (0||39(d|46170)())\x7f\x7f    (0||40(d|46172)())\x7f\x7f    (0||41(d|46173)())\x7f\x7f    (0||42(d|46213)(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||43(d|46288)())\x7f\x7f    (0||44(d|46440)())\x7f\x7f    (0||45(d|46456)())\x7f\x7f    (0||46(d|46457)())\x7f\x7f    (0||47(d|46459)())\x7f\x7f    (0||48(d|46460)())\x7f\x7f    (0||49(d|46524)())\x7f\x7f    (0||50(d|46525)())\x7f\x7f    (0||51(d|46526)())\x7f\x7f    (0||52(d|46527)())\x7f\x7f    (0||53(d|46653)())))))'}

In [141]:
# Assuming 'clndr_data' is a column in 'calendar_df'
clndr_data_split = calendar_df['clndr_data'].str.split('\\(0\\|\\|', expand=True).stack()

# Create new dataframe with each output of split operation as a new row
cal_data_df = pd.DataFrame(clndr_data_split, columns=['Data'])

# Reset the index
cal_data_df = cal_data_df.reset_index(drop=True)

In [142]:
cal_data_df

                             Data
0
1             CalendarData()(
2             DaysOfWeek()(
3                    1()(
4   0(s|07:00|f|17:00)())))
5                    2()(
6   0(s|07:00|f|17:00)())))
7                    3()(
8   0(s|07:00|f|17:00)())))
9                    4()(
10  0(s|07:00|f|17:00)())))
11                   5()(
12  0(s|07:00|f|17:00)())))
13                   6()())
14                   7()(
15  0(s|07:00|f|17:00)())))))
16       VIEW(ShowTotal|Y)())
17            Exceptions()(
18            0(d|44197)(
19  0(s|08:00|f|16:00)())))
20            1(d|44979)())
21            2(d|45038)())
22            3(d|45039)())
23            4(d|45040)())
24            5(d|45041)())
25            6(d|45104)())
26            7(d|45105)())
27            8(d|45106)())
28            9(d|45108)())
29           10(d|45192)())
30           11(d|45344)())
31           12(d|45391)())
32           13(d|45392)())
33           14(d|45393)())
34           15(d|45395)())
35           16(d|45458)())
36           17(d|45459)())
37           18(d|45460)())
38           19(d|45461)())
39           20(d|45558)())
40           21(d|45679)())
41           22(d|45710)())
42           23(d|45746)())
43           24(d|45747)())
44           25(d|45748)())
45           26(d|45749)())
46           27(d|45813)())
47           28(d|45815)())
48           29(d|45816)())
49           30(d|45817)())
50           31(d|45923)())
51           32(d|46075)())
52           33(d|46100)())
53           34(d|46102)())
54           35(d|46103)())
55           36(d|46104)())
56           37(d|46168)())
57           38(d|46169)())
58           39(d|46170)())
59           40(d|46172)())
60           41(d|46173)())
61           42(d|46213)(
62  0(s|07:00|f|17:00)())))
63           43(d|46288)())
64           44(d|46440)())
65           45(d|46456)())
66           46(d|46457)())
67           47(d|46459)())
68           48(d|46460)())
69           49(d|46524)())
70           50(d|46525)())
71           51(d|46526)())
72           52(d|46527)())
73             53(d|46653)())))))

In [143]:
start_index = cal_data_df[cal_data_df['Data'].str.contains('DaysOfWeek')].index[0]
end_index = cal_data_df[cal_data_df['Data'].str.contains('VIEW')].index[0]

# Create a new DataFrame by selecting rows between "DaysOfWeek" and "VIEW"
DaysOfWeek_df = cal_data_df.loc[start_index + 1: end_index - 1]

In [144]:
# Initialize a list to hold the data
WeekDays_data = []

# Iterate over rows in DaysOfWeek_df
for i in range(len(DaysOfWeek_df['Data'])):

    if DaysOfWeek_df['Data'].iloc[i][0] != '0':
        # Add new entry and mark it as the current entry
        current_entry = [DaysOfWeek_df['Data'].iloc[i][0], '0', '0']
        WeekDays_data.append(current_entry)

    elif 's' in DaysOfWeek_df['Data'].iloc[i] and 'f' in DaysOfWeek_df['Data'].iloc[i]:
        # Modify 'StartingHour' and 'EndingHour' of current entry
        start_s = DaysOfWeek_df['Data'].iloc[i].index('s') + 2
        start_f = DaysOfWeek_df['Data'].iloc[i].index('f') + 2
        current_entry[1] = DaysOfWeek_df['Data'].iloc[i][start_s: start_s + 5]
        current_entry[2] = DaysOfWeek_df['Data'].iloc[i][start_f: start_f + 5]

# Create DataFrame
WeekDays = pd.DataFrame(WeekDays_data, columns=['DayNumber', 'StartingHour', 'EndingHour'])

In [145]:
WeekDays

  DayNumber StartingHour EndingHour
0         1        07:00      17:00
1         2        07:00      17:00
2         3        07:00      17:00
3         4        07:00      17:00
4         5        07:00      17:00
5         6            0          0
6         7        07:00      17:00

In [146]:
# Get index of row containing 'Exceptions' in 'Data' column
exceptions_index = cal_data_df[cal_data_df['Data'].str.contains('Exceptions')].index[0]

# Select all rows after that index
exceptions_df = cal_data_df.iloc[exceptions_index + 1:]

In [147]:
# Initialize a list to hold the data
Exceptions_data = []

# Iterate over rows in exceptions_df
for i in range(len(exceptions_df['Data'])):

    if 'd' in exceptions_df['Data'].iloc[i]:
        # Add new entry and mark it as the current entry
        idx = exceptions_df['Data'].iloc[i].index('d')
        current_entry = [exceptions_df['Data'].iloc[i][idx + 2:idx + 7], '0', '0']
        Exceptions_data.append(current_entry)

        # If next row contains 's' and 'f', modify 'StartingHour' and 'EndingHour' of current entry
        if i < len(exceptions_df['Data']) - 1 and 's' in exceptions_df['Data'].iloc[i + 1] and 'f' in \
                exceptions_df['Data'].iloc[i + 1]:
            start_s = exceptions_df['Data'].iloc[i + 1].index('s') + 2
            start_f = exceptions_df['Data'].iloc[i + 1].index('f') + 2
            current_entry[1] = exceptions_df['Data'].iloc[i + 1][start_s: start_s + 5]
            current_entry[2] = exceptions_df['Data'].iloc[i + 1][start_f: start_f + 5]

# Create DataFrame
Exceptions = pd.DataFrame(Exceptions_data, columns=['DayNumber', 'StartingHour', 'EndingHour'])

In [148]:
Exceptions

   DayNumber StartingHour EndingHour
0      44197        08:00      16:00
1      44979            0          0
2      45038            0          0
3      45039            0          0
4      45040            0          0
5      45041            0          0
6      45104            0          0
7      45105            0          0
8      45106            0          0
9      45108            0          0
10     45192            0          0
11     45344            0          0
12     45391            0          0
13     45392            0          0
14     45393            0          0
15     45395            0          0
16     45458            0          0
17     45459            0          0
18     45460            0          0
19     45461            0          0
20     45558            0          0
21     45679            0          0
22     45710            0          0
23     45746            0          0
24     45747            0          0
25     45748            0          0
26     45749            0          0
27     45813            0          0
28     45815            0          0
29     45816            0          0
30     45817            0          0
31     45923            0          0
32     46075            0          0
33     46100            0          0
34     46102            0          0
35     46103            0          0
36     46104            0          0
37     46168            0          0
38     46169            0          0
39     46170            0          0
40     46172            0          0
41     46173            0          0
42     46213        07:00      17:00
43     46288            0          0
44     46440            0          0
45     46456            0          0
46     46457            0          0
47     46459            0          0
48     46460            0          0
49     46524            0          0
50     46525            0          0
51     46526            0          0
52     46527            0          0
53     46653            0          0

In [149]:
project_df

,%F,proj_id,fy_start_month_num,rsrc_self_add_flag,allow_complete_flag,rsrc_multi_assign_flag,checkout_flag,project_flag,step_complete_flag,cost_qty_recalc_flag,batch_sum_flag,name_sep_char,def_complete_pct_type,proj_short_name,acct_id,orig_proj_id,source_proj_id,base_type_id,clndr_id,sum_base_proj_id,task_code_base,task_code_step,priority_num,wbs_max_sum_level,strgy_priority_num,last_checksum,critical_drtn_hr_cnt,def_cost_per_qty,last_recalc_date,plan_start_date,plan_end_date,scd_end_date,add_date,last_tasksum_date,fcst_start_date,def_duration_type,task_code_prefix,guid,def_qty_type,add_by_name,web_local_root_path,proj_url,def_rate_type,add_act_remain_flag,act_this_per_link_flag,def_task_type,act_pct_link_flag,critical_path_type,task_code_prefix_flag,def_rollup_dates_flag,use_project_baseline_flag,rem_target_link_flag,reset_planned_flag,allow_neg_act_flag,sum_assign_level,last_fin_dates_id,fintmpl_id,last_baseline_update_date,cr_external_key,apply_actuals_date,location_id,last_schedule_date,loaded_scope_level,export_flag,new_fin_dates_id,baselines_to_export,baseline_names_to_export,next_data_date,close_period_flag,sum_refresh_date,trsrcsum_loaded,sumtask_loaded
0,%R,1469,1,Y,Y,Y,N,Y,N,N,Y,.,CP_Drtn,TST00,NaN,NaN,NaN,NaN,993,NaN,1000,10,10,2,500,NaN,0,0.0,2024-05-31 00:00,2024-05-31 00:00,NaN,2024-06-11 17:00,2024-05-31 00:00,NaN,NaN,DT_FixedDUR2,A,38ZK+9cg+UWUebnUM1QYpA,QT_Hour,admin,NaN,NaN,COST_PER_QTY,N,Y,TT_Task,Y,CT_TotFloat,Y,Y,Y,Y,N,N,SL_Taskrsrc,NaN,1,NaN,NaN,NaN,NaN,2024-05-31 12:39,7,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
project_start_date = pd.to_datetime(project_df['plan_start_date']).iloc[0]
project_finish_date = pd.to_datetime(project_df['scd_end_date']).iloc[0]

In [151]:
project_start_date

Timestamp('2024-05-31 00:00:00')

In [152]:
project_finish_date

Timestamp('2024-06-11 17:00:00')

In [153]:
start_date = project_start_date.date()

In [154]:
start_date

datetime.date(2024, 5, 31)

In [155]:
WeekDays

  DayNumber StartingHour EndingHour
0         1        07:00      17:00
1         2        07:00      17:00
2         3        07:00      17:00
3         4        07:00      17:00
4         5        07:00      17:00
5         6            0          0
6         7        07:00      17:00

In [156]:
# Reindexing DayNumber in WeekDays to match Python's date convention Monday=0, Sunday=6
mapping = {1:6, 2:0, 3:1, 4:2, 5:3, 6:4, 7:5}
WeekDays['DayNumber'] = WeekDays['DayNumber'].astype(int)
WeekDays['DayNumber'] = WeekDays['DayNumber'].map(mapping)

In [157]:
WeekDays

   DayNumber StartingHour EndingHour
0          6        07:00      17:00
1          0        07:00      17:00
2          1        07:00      17:00
3          2        07:00      17:00
4          3        07:00      17:00
5          4            0          0
6          5        07:00      17:00

In [158]:
# creating date range
Calendar_df = pd.DataFrame({'Date': pd.date_range(start=project_start_date, end=project_finish_date)})

# formatting date to dd-mm-yyyy format
Calendar_df['Date'] = Calendar_df['Date'].dt.strftime('%d-%m-%Y')

# getting the weekday number where Monday=0, Sunday=6
Calendar_df['DayNumber'] = pd.to_datetime(Calendar_df['Date'], format='%d-%m-%Y').dt.dayofweek

# merging Calendar_df with WeekDays on 'DayNumber' to get 'StartingHour' and 'EndingHour'
Calendar_df = pd.merge(Calendar_df, WeekDays, on='DayNumber', how='left')

# removing the 'DayNumber' column as it's no longer needed
Calendar_df = Calendar_df.drop(columns='DayNumber')

In [159]:
Calendar_df

          Date StartingHour EndingHour
0   31-05-2024            0          0
1   01-06-2024        07:00      17:00
2   02-06-2024        07:00      17:00
3   03-06-2024        07:00      17:00
4   04-06-2024        07:00      17:00
5   05-06-2024        07:00      17:00
6   06-06-2024        07:00      17:00
7   07-06-2024            0          0
8   08-06-2024        07:00      17:00
9   09-06-2024        07:00      17:00
10  10-06-2024        07:00      17:00
11  11-06-2024        07:00      17:00

In [160]:
# Ensure 'StartingHour' and 'EndingHour' are in 'HH:MM:SS' format 
# If ':00' for seconds is missing, append it
Calendar_df['StartingHour'] = Calendar_df['StartingHour'].apply(lambda x: x if x.count(':') == 2 else x + ':00')
Calendar_df['EndingHour'] = Calendar_df['EndingHour'].apply(lambda x: x if x.count(':') == 2 else x + ':00')

# Now convert the strings into datetime objects
Calendar_df['StartingHour'] = pd.to_timedelta(Calendar_df['StartingHour'])
Calendar_df['EndingHour'] = pd.to_timedelta(Calendar_df['EndingHour'])

# Create 'WorkingHours' column as the difference between 'EndingHour' and 'StartingHour', convert to seconds, then to hours
Calendar_df['WorkingHours'] = ((Calendar_df['EndingHour'] - Calendar_df['StartingHour']) / pd.Timedelta(hours=1)).abs()

Calendar_df.head()

ValueError: expected hh:mm:ss format

In [161]:
print("Unique StartingHour Entries:\n", Calendar_df["StartingHour"].unique())
print("Unique EndingHour Entries:\n", Calendar_df["EndingHour"].unique())

Unique StartingHour Entries:
 ['0:00' '07:00:00']
Unique EndingHour Entries:
 ['0:00' '17:00:00']

In [162]:
# Function to format time string
def format_time_string(time_string):
    parts = time_string.split(":")
    
    # Correct the hours format
    if len(parts[0]) == 1:
        parts[0] = "0" + parts[0]

    # Appending :00 if it's missing
    if len(parts) == 2:
        parts.append('00')
    
    return ":".join(parts)

# Apply the function to 'StartingHour' and 'EndingHour' columns
Calendar_df['StartingHour'] = Calendar_df['StartingHour'].apply(format_time_string)
Calendar_df['EndingHour'] = Calendar_df['EndingHour'].apply(format_time_string)

# Then proceed with the conversion
Calendar_df['StartingHour'] = pd.to_timedelta(Calendar_df['StartingHour'])
Calendar_df['EndingHour'] = pd.to_timedelta(Calendar_df['EndingHour'])

# Create 'WorkingHours' column as the difference between 'EndingHour' and 'StartingHour', convert to seconds, then to hours
Calendar_df['WorkingHours'] = ((Calendar_df['EndingHour'] - Calendar_df['StartingHour']) / pd.Timedelta(hours=1)).abs()

Calendar_df.head()

         Date    StartingHour      EndingHour  WorkingHours
0  31-05-2024 0 days 00:00:00 0 days 00:00:00           0.0
1  01-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
2  02-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
3  03-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
4  04-06-2024 0 days 07:00:00 0 days 17:00:00          10.0

In [163]:
Calendar_df

          Date    StartingHour      EndingHour  WorkingHours
0   31-05-2024 0 days 00:00:00 0 days 00:00:00           0.0
1   01-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
2   02-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
3   03-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
4   04-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
5   05-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
6   06-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
7   07-06-2024 0 days 00:00:00 0 days 00:00:00           0.0
8   08-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
9   09-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
10  10-06-2024 0 days 07:00:00 0 days 17:00:00          10.0
11  11-06-2024 0 days 07:00:00 0 days 17:00:00          10.0