Earned Value Cost
The portion of the project baseline total cost of an activity or all activities in the project that are actually completed as of the project data date.

Budget at completion is calculated from the project baseline.

Calculated as Budget At Completion multiplied by Performance Percent Complete. The method for computing performance percent complete depends on the Earned Value technique selected for the activity's WBS.

Budget At Completion
The planned total cost through activity or project completion.

Calculated as Planned Labor Cost plus Planned Nonlabor Cost plus Planned Expense Cost plus Planned Material Cost.

Planned Labor Cost (Activities)
The planned costs for all labor resources assigned to the activity.

If no resources are assigned, calculated as Activity Planned Labor Units multiplied by Project Default Price divided by Time.

Planned Material Cost
The planned cost for all material resources assigned to the activity, project, or EPS.

Planned Nonlabor Cost
The planned costs for all nonlabor resources assigned to the activity.

If no resources are assigned, calculated as Activity Planned Nonlabor Units multiplied by Project Default Price divided by Time.

Planned Expense Cost
The planned total cost of all expenses associated with the activity, project, or EPS.

In [46]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [47]:
# specify the file path, you might need to adjust this
file_path = "Task_Calculation.xlsx"
# Load the Task data into a DataFrame
task_calculation_df = pd.read_excel(file_path, sheet_name='Task_Calculation')

In [48]:
# specify the file path, you might need to adjust this
file_path = "TST00-Update04.xlsx"
# Load the Task data into a DataFrame
task_df = pd.read_excel(file_path, sheet_name='TASK')

In [49]:
# specify the file path, you might need to adjust this
file_path = "TST00-Update04.xlsx"
# Load the Project data into a DataFrame
project_df = pd.read_excel(file_path, sheet_name='PROJECT')

In [50]:
# specify the file path, you might need to adjust this
file_path = "Calendar.xlsx"
# Load the Calendar data into a DataFrame
calendar_df = pd.read_excel(file_path, sheet_name='Calendar')

In [51]:
import pandas as pd

# Assuming project_df is your dataframe
data_date = project_df.loc[0, 'last_recalc_date']

# This should get the first row data for the column "last_recalc_date".

In [52]:
data_date

'2024-06-05 17:00'

In [53]:
type(data_date)

str

In [54]:
# Assuming calendar_df is your dataframe
calendar_date = calendar_df.loc[0, 'Date']
# This retrieves the first row data for the column named "Date".

In [55]:
calendar_date

Timestamp('2024-05-31 00:00:00')

In [56]:
type(calendar_date)

pandas._libs.tslibs.timestamps.Timestamp

In [57]:
date_component = calendar_date.date()

In [58]:
date_component

datetime.date(2024, 5, 31)

In [59]:
type(date_component)

datetime.date

In [60]:
from datetime import datetime

# Assuming data_date is your string that contains date and time
# convert the string to datetime object
data_datetime = datetime.strptime(data_date, '%Y-%m-%d %H:%M')

# To compare with 'date_component', you may want to extract the date 
data_date_component = data_datetime.date()

In [61]:
data_datetime

datetime.datetime(2024, 6, 5, 17, 0)

In [62]:
data_date_component

datetime.date(2024, 6, 5)

In [63]:
Ztype = calendar_df['Date'].dtype

In [64]:
Ztype

dtype('<M8[ns]')

In [65]:
matching_dates = calendar_df[calendar_df['Date'].dt.date == data_date_component]

In [66]:
matching_dates

        Date StartingHour EndingHour  WorkingHours      Type
5 2024-06-05     07:00 AM   05:00 PM            10  Standard

In [67]:
data_time_component = data_datetime.time()

In [68]:
data_time_component

datetime.time(17, 0)

In [69]:
planned_df = task_df[['task_id', 'proj_id', 'wbs_id', 'target_drtn_hr_cnt', 'target_start_date', 'target_end_date']].copy()

In [70]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date
0,313464,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00
1,313465,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00
2,313466,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00

In [71]:
type(planned_df)

pandas.core.frame.DataFrame

In [72]:
planned_df['data_date_date'] = data_date_component
planned_df['data_date_time'] = data_time_component

In [73]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time
0,313464,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00,2024-06-05,17:00:00
1,313465,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00,2024-06-05,17:00:00
2,313466,1474,84085,100,2024-06-01 07:00,2024-06-11 17:00,2024-06-05,17:00:00

In [74]:
# convert target_start_date to datetime if it's not already
planned_df['target_start_date'] = pd.to_datetime(planned_df['target_start_date'])

# create new date and time columns
planned_df['planned_start_date'] = planned_df['target_start_date'].dt.date
planned_df['planned_start_time'] = planned_df['target_start_date'].dt.time

In [75]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00,2024-06-05,17:00:00,2024-06-01,07:00:00
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00,2024-06-05,17:00:00,2024-06-01,07:00:00
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00,2024-06-05,17:00:00,2024-06-01,07:00:00

In [76]:
# convert target_start_date to datetime if it's not already
planned_df['target_end_date'] = pd.to_datetime(planned_df['target_end_date'])

# create new date and time columns
planned_df['planned_end_date'] = planned_df['target_end_date'].dt.date
planned_df['planned_end_time'] = planned_df['target_end_date'].dt.time

In [77]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time,planned_end_date,planned_end_time
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00

In [78]:
planned_df['current_duration_percent'] = 0

In [79]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time,planned_end_date,planned_end_time,current_duration_percent
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0

In [80]:
type(planned_df)

pandas.core.frame.DataFrame

In [81]:
import numpy as np
planned_df['current_duration_percent'] = np.where(
    planned_df['data_date_date'] < planned_df['planned_start_date'],
    0,
    planned_df['current_duration_percent']
)

planned_df['current_duration_percent'] = np.where(
    planned_df['data_date_date'] > planned_df['target_end_date'],
    planned_df['target_drtn_hr_cnt'],
    planned_df['current_duration_percent']
)

In [82]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time,planned_end_date,planned_end_time,current_duration_percent
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0

In [83]:
type(planned_df)

pandas.core.frame.DataFrame

In [84]:
# If 'data_date_date' equals 'planned_start_date' and 'data_date_time' is less than 'planned_start_time', 
# set 'current_duration_percent' to 0
planned_df['current_duration_percent'] = np.where(
    np.logical_and(planned_df['data_date_date'] == planned_df['planned_start_date'],
                   planned_df['data_date_time'] < planned_df['planned_start_time']),
    0,
    planned_df['current_duration_percent']
)

# If 'data_date_date' equals 'planned_end_date' and 'data_date_time' is more than 'planned_end_time',
# set 'current_duration_percent' to 'target_drtn_hr_cnt'
planned_df['current_duration_percent'] = np.where(
    np.logical_and(planned_df['data_date_date'] == planned_df['planned_end_date'],
                   planned_df['data_date_time'] > planned_df['planned_end_time']),
    planned_df['target_drtn_hr_cnt'],
    planned_df['current_duration_percent']
)

In [85]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time,planned_end_date,planned_end_time,current_duration_percent
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0

In [86]:
type(planned_df)

pandas.core.frame.DataFrame

In [87]:
# Convert 'data_date_time', 'planned_start_time', and 'EndingHour' to datetime.time format if they're not
planned_df['data_date_time'] = pd.to_datetime(planned_df['data_date_time'], format='%H:%M:%S').dt.time
planned_df['planned_start_time'] = pd.to_datetime(planned_df['planned_start_time'], format='%H:%M:%S').dt.time
calendar_df['EndingHour'] = pd.to_datetime(calendar_df['EndingHour'], format='%I:%M %p').dt.time

# Loop through every row in 'planned_df'
for i in range(len(planned_df)):
    # If 'data_date_date' equals to 'planned_start_date' and 'data_date_time' is greater than 'planned_start_time' and less than 'calendar_ending_hour'
    if (planned_df.loc[i, 'data_date_date'] == planned_df.loc[i, 'planned_start_date']) and \
            (planned_df.loc[i, 'data_date_time'] > planned_df.loc[i, 'planned_start_time']) and \
            (planned_df.loc[i, 'data_date_time'] <
             calendar_df[calendar_df['Date'].dt.date == planned_df.loc[i, 'data_date_date']]['EndingHour'].iloc[0]):
        # Set 'current_duration_percent' to ('data_date_time' - 'planned_start_time').seconds / 3600
        time_difference = datetime.datetime.combine(datetime.date.min,
                                                    planned_df.loc[i, 'data_date_time']) - datetime.datetime.combine(
            datetime.date.min, planned_df.loc[i, 'planned_start_time'])
        planned_df.loc[i, 'current_duration_percent'] = time_difference.seconds / 3600

In [88]:
planned_df

,task_id,proj_id,wbs_id,target_drtn_hr_cnt,target_start_date,target_end_date,data_date_date,data_date_time,planned_start_date,planned_start_time,planned_end_date,planned_end_time,current_duration_percent
0,313464,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
1,313465,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0
2,313466,1474,84085,100,2024-06-01 07:00:00,2024-06-11 17:00:00,2024-06-05,17:00:00,2024-06-01,07:00:00,2024-06-11,17:00:00,0

In [ ]:
task_calculation_df

In [ ]:
# Assuming Task_Calculation_df is your DataFrame
task_calculation_path = 'Task_Calculation.xlsx'  # you may want to include full path here
with pd.ExcelWriter(task_calculation_path, engine='openpyxl') as writer:
    task_calculation_df.to_excel(writer, sheet_name='Task_Calculation', index=False)