In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Load the calendar data into a DataFrame
calendar_df = pd.read_excel('TST00.xlsx', sheet_name='CALENDAR')

# Find the column index of 'clndr_data'
clndr_data_col = calendar_df.columns.get_loc('clndr_data')

# Initialize an empty DataFrame for Cal_Data
cal_data_columns = ["clndr_id", "Data", "type", "Date", "Hours", "Key"]
cal_data_df = pd.DataFrame(columns=cal_data_columns)

# Counter for the new rows
c = 0

# Iterate over each row in the calendar DataFrame starting from the second row
for i in range(0, len(calendar_df)):
    split_string = calendar_df.iloc[i, clndr_data_col]
    split_target = split_string.split('(0||')
    
    # Create new rows for each split part
    new_rows = pd.DataFrame({
        "clndr_id": [calendar_df.iloc[i, 1]] * len(split_target),
        "Data": split_target
    })
    
    # Append new rows to the Cal_Data DataFrame
    cal_data_df = pd.concat([cal_data_df, new_rows], ignore_index=True)
    c += len(split_target)

# Reset index if needed
cal_data_df.reset_index(drop=True, inplace=True)

In [3]:
start_index = cal_data_df[cal_data_df['Data'].str.contains('DaysOfWeek')].index[0]
end_index = cal_data_df[cal_data_df['Data'].str.contains('VIEW')].index[0]

# Create a new DataFrame by selecting rows between "DaysOfWeek" and "VIEW"
DaysOfWeek_df = cal_data_df.loc[start_index + 1: end_index - 1]

In [4]:
# Initialize a list to hold the data
WeekDays_data = []

# Iterate over rows in DaysOfWeek_df
for i in range(len(DaysOfWeek_df['Data'])):

    if DaysOfWeek_df['Data'].iloc[i][0] != '0':
        # Add new entry and mark it as the current entry
        current_entry = [DaysOfWeek_df['Data'].iloc[i][0], '0', '0']
        WeekDays_data.append(current_entry)

    elif 's' in DaysOfWeek_df['Data'].iloc[i] and 'f' in DaysOfWeek_df['Data'].iloc[i]:
        # Modify 'StartingHour' and 'EndingHour' of current entry
        start_s = DaysOfWeek_df['Data'].iloc[i].index('s') + 2
        start_f = DaysOfWeek_df['Data'].iloc[i].index('f') + 2
        current_entry[1] = DaysOfWeek_df['Data'].iloc[i][start_s: start_s + 5]
        current_entry[2] = DaysOfWeek_df['Data'].iloc[i][start_f: start_f + 5]

# Create DataFrame
WeekDays = pd.DataFrame(WeekDays_data, columns=['DayNumber', 'StartingHour', 'EndingHour'])

In [5]:
WeekDays

  DayNumber StartingHour EndingHour
0         1        07:00      17:00
1         2        07:00      17:00
2         3        07:00      17:00
3         4        07:00      17:00
4         5        07:00      17:00
5         6            0          0
6         7        07:00      17:00

In [6]:
# Get index of row containing 'Exceptions' in 'Data' column
exceptions_index = cal_data_df[cal_data_df['Data'].str.contains('Exceptions')].index[0]

# Select all rows after that index
exceptions_df = cal_data_df.iloc[exceptions_index + 1:]

In [7]:
# Initialize a list to hold the data
Exceptions_data = []

# Iterate over rows in exceptions_df
for i in range(len(exceptions_df['Data'])):

    if 'd' in exceptions_df['Data'].iloc[i]:
        # Add new entry and mark it as the current entry
        idx = exceptions_df['Data'].iloc[i].index('d')
        current_entry = [exceptions_df['Data'].iloc[i][idx + 2:idx + 7], '0', '0']
        Exceptions_data.append(current_entry)

        # If next row contains 's' and 'f', modify 'StartingHour' and 'EndingHour' of current entry
        if i < len(exceptions_df['Data']) - 1 and 's' in exceptions_df['Data'].iloc[i + 1] and 'f' in \
                exceptions_df['Data'].iloc[i + 1]:
            start_s = exceptions_df['Data'].iloc[i + 1].index('s') + 2
            start_f = exceptions_df['Data'].iloc[i + 1].index('f') + 2
            current_entry[1] = exceptions_df['Data'].iloc[i + 1][start_s: start_s + 5]
            current_entry[2] = exceptions_df['Data'].iloc[i + 1][start_f: start_f + 5]

# Create DataFrame
Exceptions = pd.DataFrame(Exceptions_data, columns=['DayNumber', 'StartingHour', 'EndingHour'])

In [8]:
Exceptions

   DayNumber StartingHour EndingHour
0      44197        08:00      16:00
1      44979            0          0
2      45038            0          0
3      45039            0          0
4      45040            0          0
5      45041            0          0
6      45104            0          0
7      45105            0          0
8      45106            0          0
9      45108            0          0
10     45192            0          0
11     45344            0          0
12     45391            0          0
13     45392            0          0
14     45393            0          0
15     45395            0          0
16     45458            0          0
17     45459            0          0
18     45460            0          0
19     45461            0          0
20     45558            0          0
21     45679            0          0
22     45710            0          0
23     45746            0          0
24     45747            0          0
25     45748            0          0
26     45749            0          0
27     45813            0          0
28     45815            0          0
29     45816            0          0
30     45817            0          0
31     45923            0          0
32     46075            0          0
33     46100            0          0
34     46102            0          0
35     46103            0          0
36     46104            0          0
37     46168            0          0
38     46169            0          0
39     46170            0          0
40     46172            0          0
41     46173            0          0
42     46213        07:00      17:00
43     46288            0          0
44     46440            0          0
45     46456            0          0
46     46457            0          0
47     46459            0          0
48     46460            0          0
49     46524            0          0
50     46525            0          0
51     46526            0          0
52     46527            0          0
53     46653            0          0