In [33]:
import pandas as pd

# Load specific sheet into a DataFrame
df = pd.read_excel('TST00.xlsx', sheet_name='CALENDAR')

# Select specific column within DataFrame
clndr_data = df['clndr_data']

# Convert the column data to string
clndr_data = clndr_data.astype(str)

# Remove the character with unicode value = 127
clndr_data = clndr_data.replace(chr(127), '')

# Convert Series to one long string
clndr_data_string = ''.join(clndr_data)

# Remove '\x7f' from the string
clndr_data_string = clndr_data_string.replace('\x7f', '')

# Remove spaces from the string
clndr_data_string = clndr_data_string.replace(' ', '')

In [34]:
clndr_data_string

'(0||CalendarData()((0||DaysOfWeek()((0||1()((0||0(s|07:00|f|17:00)())))(0||2()((0||0(s|07:00|f|17:00)())))(0||3()((0||0(s|07:00|f|17:00)())))(0||4()((0||0(s|07:00|f|17:00)())))(0||5()((0||0(s|07:00|f|17:00)())))(0||6()())(0||7()((0||0(s|07:00|f|17:00)())))))(0||VIEW(ShowTotal|Y)())(0||Exceptions()((0||0(d|44197)((0||0(s|08:00|f|16:00)())))(0||1(d|44979)())(0||2(d|45038)())(0||3(d|45039)())(0||4(d|45040)())(0||5(d|45041)())(0||6(d|45104)())(0||7(d|45105)())(0||8(d|45106)())(0||9(d|45108)())(0||10(d|45192)())(0||11(d|45344)())(0||12(d|45391)())(0||13(d|45392)())(0||14(d|45393)())(0||15(d|45395)())(0||16(d|45458)())(0||17(d|45459)())(0||18(d|45460)())(0||19(d|45461)())(0||20(d|45558)())(0||21(d|45679)())(0||22(d|45710)())(0||23(d|45746)())(0||24(d|45747)())(0||25(d|45748)())(0||26(d|45749)())(0||27(d|45813)())(0||28(d|45815)())(0||29(d|45816)())(0||30(d|45817)())(0||31(d|45923)())(0||32(d|46075)())(0||33(d|46100)())(0||34(d|46102)())(0||35(d|46103)())(0||36(d|46104)())(0||37(d|46168)())(0||38(d|46169)())(0||39(d|46170)())(0||40(d|46172)())(0||41(d|46173)())(0||42(d|46213)((0||0(s|07:00|f|17:00)())))(0||43(d|46288)())(0||44(d|46440)())(0||45(d|46456)())(0||46(d|46457)())(0||47(d|46459)())(0||48(d|46460)())(0||49(d|46524)())(0||50(d|46525)())(0||51(d|46526)())(0||52(d|46527)())(0||53(d|46653)())))))'

In [35]:
# Find start and end indices of required segment
start = clndr_data_string.find("CalendarData()") + len("CalendarData()")
end = clndr_data_string.rfind("(0||VIEW(ShowTotal|Y)())")

# Extract the segment by slicing the string
segment = clndr_data_string[start:end]
segment

'((0||DaysOfWeek()((0||1()((0||0(s|07:00|f|17:00)())))(0||2()((0||0(s|07:00|f|17:00)())))(0||3()((0||0(s|07:00|f|17:00)())))(0||4()((0||0(s|07:00|f|17:00)())))(0||5()((0||0(s|07:00|f|17:00)())))(0||6()())(0||7()((0||0(s|07:00|f|17:00)())))))'

In [51]:
new_string = segment[17:-2]
new_string

'((0||1()((0||0(s|07:00|f|17:00)())))(0||2()((0||0(s|07:00|f|17:00)())))(0||3()((0||0(s|07:00|f|17:00)())))(0||4()((0||0(s|07:00|f|17:00)())))(0||5()((0||0(s|07:00|f|17:00)())))(0||6()())(0||7()((0||0(s|07:00|f|17:00)())))'

In [55]:
import pandas as pd
from datetime import timedelta

# Prepare placeholders
days = ['1', '2', '3', '4', '5', '6', '7']
start_hours = ['00:00'] * 7
end_hours = ['00:00'] * 7

# Start from first day
idx = 0
while idx < len(new_string):
    # Find day
    day = new_string[idx:idx + 1]
    if day in days:
        # Get start and end hour
        start_hours[int(day) - 1] = new_string[idx + 21:idx + 26]
        end_hours[int(day) - 1] = new_string[idx + 30:idx + 35]
    idx += 39  # Proceed to next day

# Add working hours
work_hours = [(datetime.strptime(end, '%H:%M') - datetime.strptime(start, '%H:%M')).seconds // 3600 for start, end in
              zip(start_hours, end_hours)]

# Create data frame
dates = pd.date_range("2024-01-01", "2024-12-31")
df = pd.DataFrame(dates, columns=["Day"])
df["Week_Day"] = df["Day"].dt.dayofweek + 1
df["Julian_Date"] = df["Day"].dt.strftime('%Y%j')
df["Starting_Hour"] = df["Week_Day"].apply(lambda x: start_hours[x - 1])
df["Finishing_Hour"] = df["Week_Day"].apply(lambda x: end_hours[x - 1])
df["Working_Hours"] = df["Week_Day"].apply(lambda x: work_hours[x - 1])
df["Working_Day"] = df["Working_Hours"].apply(lambda x: "Yes" if x > 0 else "No")
df["Day"] = df["Day"].dt.strftime('%d-%m-%Y')

print(df)

AttributeError: module 'datetime' has no attribute 'strptime'

In [56]:
import pandas as pd
import datetime

# Prepare placeholders
days = ['1', '2', '3', '4', '5', '6', '7']
start_hours = ['00:00'] * 7
end_hours = ['00:00'] * 7

# Start from first day
idx = 0
while idx < len(new_string):
    # Find day
    day = new_string[idx:idx + 1]
    if day in days:
        # Get start and end hour
        start_hours[int(day) - 1] = new_string[idx + 21:idx + 26]
        end_hours[int(day) - 1] = new_string[idx + 30:idx + 35]
    idx += 39  # Proceed to next day

# Compute working hours
working_hours = [(datetime.datetime.strptime(end, '%H:%M') - datetime.datetime.strptime(start, '%H:%M')).seconds / 3600
                 for start, end in zip(start_hours, end_hours)]

# Build DataFrame for the year 2024
dates = pd.date_range("2024-01-01", "2024-12-31")
df = pd.DataFrame(dates, columns=["Day"])
df["Week_Day"] = df["Day"].dt.dayofweek + 1
df["Julian_Date"] = df["Day"].dt.strftime('%Y%j')
df["Starting_Hour"] = df["Week_Day"].apply(lambda x: start_hours[x - 1])
df["Finishing_Hour"] = df["Week_Day"].apply(lambda x: end_hours[x - 1])
df["Working_Hours"] = df["Week_Day"].apply(lambda x: working_hours[x - 1])
df["Working_Day"] = df["Working_Hours"].apply(lambda x: "Yes" if x > 0 else "No")
df["Day"] = df["Day"].dt.strftime('%d-%m-%Y')

In [57]:
df

,Day,Week_Day,Julian_Date,Starting_Hour,Finishing_Hour,Working_Hours,Working_Day
0,01-01-2024,1,2024001,00:00,00:00,0.0,No
1,02-01-2024,2,2024002,00:00,00:00,0.0,No
2,03-01-2024,3,2024003,00:00,00:00,0.0,No
3,04-01-2024,4,2024004,00:00,00:00,0.0,No
4,05-01-2024,5,2024005,00:00,00:00,0.0,No
5,06-01-2024,6,2024006,00:00,00:00,0.0,No
6,07-01-2024,7,2024007,00:00,00:00,0.0,No
7,08-01-2024,1,2024008,00:00,00:00,0.0,No
8,09-01-2024,2,2024009,00:00,00:00,0.0,No
9,10-01-2024,3,2024010,00:00,00:00,0.0,No
10,11-01-2024,4,2024011,00:00,00:00,0.0,No
11,12-01-2024,5,2024012,00:00,00:00,0.0,No
12,13-01-2024,6,2024013,00:00,00:00,0.0,No
13,14-01-2024,7,2024014,00:00,00:00,0.0,No
14,15-01-2024,1,2024015,00:00,00:00,0.0,No
15,16-01-2024,2,2024016,00:00,00:00,0.0,No
16,17-01-2024,3,2024017,00:00,00:00,0.0,No
17,18-01-2024,4,2024018,00:00,00:00,0.0,No
18,19-01-2024,5,2024019,00:00,00:00,0.0,No
19,20-01-2024,6,2024020,00:00,00:00,0.0,No
20,21-01-2024,7,2024021,00:00,00:00,0.0,No
21,22-01-2024,1,2024022,00:00,00:00,0.0,No
22,23-01-2024,2,2024023,00:00,00:00,0.0,No
23,24-01-2024,3,2024024,00:00,00:00,0.0,No
24,25-01-2024,4,2024025,00:00,00:00,0.0,No
25,26-01-2024,5,2024026,00:00,00:00,0.0,No
26,27-01-2024,6,2024027,00:00,00:00,0.0,No
27,28-01-2024,7,2024028,00:00,00:00,0.0,No
28,29-01-2024,1,2024029,00:00,00:00,0.0,No
29,30-01-2024,2,2024030,00:00,00:00,0.0,No
30,31-01-2024,3,2024031,00:00,00:00,0.0,No
31,01-02-2024,4,2024032,00:00,00:00,0.0,No
32,02-02-2024,5,2024033,00:00,00:00,0.0,No
33,03-02-2024,6,2024034,00:00,00:00,0.0,No
34,04-02-2024,7,2024035,00:00,00:00,0.0,No
35,05-02-2024,1,2024036,00:00,00:00,0.0,No
36,06-02-2024,2,2024037,00:00,00:00,0.0,No
37,07-02-2024,3,2024038,00:00,00:00,0.0,No
38,08-02-2024,4,2024039,00:00,00:00,0.0,No
39,09-02-2024,5,2024040,00:00,00:00,0.0,No
40,10-02-2024,6,2024041,00:00,00:00,0.0,No
41,11-02-2024,7,2024042,00:00,00:00,0.0,No
42,12-02-2024,1,2024043,00:00,00:00,0.0,No
43,13-02-2024,2,2024044,00:00,00:00,0.0,No
44,14-02-2024,3,2024045,00:00,00:00,0.0,No
45,15-02-2024,4,2024046,00:00,00:00,0.0,No
46,16-02-2024,5,2024047,00:00,00:00,0.0,No
47,17-02-2024,6,2024048,00:00,00:00,0.0,No
48,18-02-2024,7,2024049,00:00,00:00,0.0,No
49,19-02-2024,1,2024050,00:00,00:00,0.0,No
50,20-02-2024,2,2024051,00:00,00:00,0.0,No
51,21-02-2024,3,2024052,00:00,00:00,0.0,No
52,22-02-2024,4,2024053,00:00,00:00,0.0,No
53,23-02-2024,5,2024054,00:00,00:00,0.0,No
54,24-02-2024,6,2024055,00:00,00:00,0.0,No
55,25-02-2024,7,2024056,00:00,00:00,0.0,No
56,26-02-2024,1,2024057,00:00,00:00,0.0,No
57,27-02-2024,2,2024058,00:00,00:00,0.0,No
58,28-02-2024,3,2024059,00:00,00:00,0.0,No
59,29-02-2024,4,2024060,00:00,00:00,0.0,No
60,01-03-2024,5,2024061,00:00,00:00,0.0,No
61,02-03-2024,6,2024062,00:00,00:00,0.0,No
62,03-03-2024,7,2024063,00:00,00:00,0.0,No
63,04-03-2024,1,2024064,00:00,00:00,0.0,No
64,05-03-2024,2,2024065,00:00,00:00,0.0,No
65,06-03-2024,3,2024066,00:00,00:00,0.0,No
66,07-03-2024,4,2024067,00:00,00:00,0.0,No
67,08-03-2024,5,2024068,00:00,00:00,0.0,No
68,09-03-2024,6,2024069,00:00,00:00,0.0,No
69,10-03-2024,7,2024070,00:00,00:00,0.0,No
70,11-03-2024,1,2024071,00:00,00:00,0.0,No
71,12-03-2024,2,2024072,00:00,00:00,0.0,No
72,13-03-2024,3,2024073,00:00,00:00,0.0,No
73,14-03-2024,4,2024074,00:00,00:00,0.0,No
74,15-03-2024,5,2024075,00:00,00:00,0.0,No
75,16-03-2024,6,2024076,00:00,00:00,0.0,No
76,17-03-2024,7,2024077,00:00,00:00,0.0,No
77,18-03-2024,1,2024078,00:00,00:00,0.0,No
78,19-03-2024,2,2024079,00:00,00:00,0.0,No
79,20-03-2024,3,2024080,00:00,00:00,0.0,No
80,21-03-2024,4,2024081,00:00,00:00,0.0,No
81,22-03-2024,5,2024082,00:00,00:00,0.0,No
82,23-03-2024,6,2024083,00:00,00:00,0.0,No
83,24-03-2024,7,2024084,00:00,00:00,0.0,No
84,25-03-2024,1,2024085,00:00,00:00,0.0,No
85,26-03-2024,2,2024086,00:00,00:00,0.0,No
86,27-03-2024,3,2024087,00:00,00:00,0.0,No
87,28-03-2024,4,2024088,00:00,00:00,0.0,No
88,29-03-2024,5,2024089,00:00,00:00,0.0,No
89,30-03-2024,6,2024090,00:00,00:00,0.0,No
90,31-03-2024,7,2024091,00:00,00:00,0.0,No
91,01-04-2024,1,2024092,00:00,00:00,0.0,No
92,02-04-2024,2,2024093,00:00,00:00,0.0,No
93,03-04-2024,3,2024094,00:00,00:00,0.0,No
94,04-04-2024,4,2024095,00:00,00:00,0.0,No
95,05-04-2024,5,2024096,00:00,00:00,0.0,No
96,06-04-2024,6,2024097,00:00,00:00,0.0,No
97,07-04-2024,7,2024098,00:00,00:00,0.0,No
98,08-04-2024,1,2024099,00:00,00:00,0.0,No
99,09-04-2024,2,2024100,00:00,00:00,0.0,No
100,10-04-2024,3,2024101,00:00,00:00,0.0,No
101,11-04-2024,4,2024102,00:00,00:00,0.0,No
102,12-04-2024,5,2024103,00:00,00:00,0.0,No
103,13-04-2024,6,2024104,00:00,00:00,0.0,No
104,14-04-2024,7,2024105,00:00,00:00,0.0,No
105,15-04-2024,1,2024106,00:00,00:00,0.0,No
106,16-04-2024,2,2024107,00:00,00:00,0.0,No
107,17-04-2024,3,2024108,00:00,00:00,0.0,No
108,18-04-2024,4,2024109,00:00,00:00,0.0,No
109,19-04-2024,5,2024110,00:00,00:00,0.0,No
110,20-04-2024,6,2024111,00:00,00:00,0.0,No
111,21-04-2024,7,2024112,00:00,00:00,0.0,No
112,22-04-2024,1,2024113,00:00,00:00,0.0,No
113,23-04-2024,2,2024114,00:00,00:00,0.0,No
114,24-04-2024,3,2024115,00:00,00:00,0.0,No
115,25-04-2024,4,2024116,00:00,00:00,0.0,No
116,26-04-2024,5,2024117,00:00,00:00,0.0,No
117,27-04-2024,6,2024118,00:00,00:00,0.0,No
118,28-04-2024,7,2024119,00:00,00:00,0.0,No
119,29-04-2024,1,2024120,00:00,00:00,0.0,No
120,30-04-2024,2,2024121,00:00,00:00,0.0,No
121,01-05-2024,3,2024122,00:00,00:00,0.0,No
122,02-05-2024,4,2024123,00:00,00:00,0.0,No
123,03-05-2024,5,2024124,00:00,00:00,0.0,No
124,04-05-2024,6,2024125,00:00,00:00,0.0,No
125,05-05-2024,7,2024126,00:00,00:00,0.0,No
126,06-05-2024,1,2024127,00:00,00:00,0.0,No
127,07-05-2024,2,2024128,00:00,00:00,0.0,No
128,08-05-2024,3,2024129,00:00,00:00,0.0,No
129,09-05-2024,4,2024130,00:00,00:00,0.0,No
130,10-05-2024,5,2024131,00:00,00:00,0.0,No
131,11-05-2024,6,2024132,00:00,00:00,0.0,No
132,12-05-2024,7,2024133,00:00,00:00,0.0,No
133,13-05-2024,1,2024134,00:00,00:00,0.0,No
134,14-05-2024,2,2024135,00:00,00:00,0.0,No
135,15-05-2024,3,2024136,00:00,00:00,0.0,No
136,16-05-2024,4,2024137,00:00,00:00,0.0,No
137,17-05-2024,5,2024138,00:00,00:00,0.0,No
138,18-05-2024,6,2024139,00:00,00:00,0.0,No
139,19-05-2024,7,2024140,00:00,00:00,0.0,No
140,20-05-2024,1,2024141,00:00,00:00,0.0,No
141,21-05-2024,2,2024142,00:00,00:00,0.0,No
142,22-05-2024,3,2024143,00:00,00:00,0.0,No
143,23-05-2024,4,2024144,00:00,00:00,0.0,No
144,24-05-2024,5,2024145,00:00,00:00,0.0,No
145,25-05-2024,6,2024146,00:00,00:00,0.0,No
146,26-05-2024,7,2024147,00:00,00:00,0.0,No
147,27-05-2024,1,2024148,00:00,00:00,0.0,No
148,28-05-2024,2,2024149,00:00,00:00,0.0,No
149,29-05-2024,3,2024150,00:00,00:00,0.0,No
150,30-05-2024,4,2024151,00:00,00:00,0.0,No
151,31-05-2024,5,2024152,00:00,00:00,0.0,No
152,01-06-2024,6,2024153,00:00,00:00,0.0,No
153,02-06-2024,7,2024154,00:00,00:00,0.0,No
154,03-06-2024,1,2024155,00:00,00:00,0.0,No
155,04-06-2024,2,2024156,00:00,00:00,0.0,No
156,05-06-2024,3,2024157,00:00,00:00,0.0,No
157,06-06-2024,4,2024158,00:00,00:00,0.0,No
158,07-06-2024,5,2024159,00:00,00:00,0.0,No
159,08-06-2024,6,2024160,00:00,00:00,0.0,No
160,09-06-2024,7,2024161,00:00,00:00,0.0,No
161,10-06-2024,1,2024162,00:00,00:00,0.0,No
162,11-06-2024,2,2024163,00:00,00:00,0.0,No
163,12-06-2024,3,2024164,00:00,00:00,0.0,No
164,13-06-2024,4,2024165,00:00,00:00,0.0,No
165,14-06-2024,5,2024166,00:00,00:00,0.0,No
166,15-06-2024,6,2024167,00:00,00:00,0.0,No
167,16-06-2024,7,2024168,00:00,00:00,0.0,No
168,17-06-2024,1,2024169,00:00,00:00,0.0,No
169,18-06-2024,2,2024170,00:00,00:00,0.0,No
170,19-06-2024,3,2024171,00:00,00:00,0.0,No
171,20-06-2024,4,2024172,00:00,00:00,0.0,No
172,21-06-2024,5,2024173,00:00,00:00,0.0,No
173,22-06-2024,6,2024174,00:00,00:00,0.0,No
174,23-06-2024,7,2024175,00:00,00:00,0.0,No
175,24-06-2024,1,2024176,00:00,00:00,0.0,No
176,25-06-2024,2,2024177,00:00,00:00,0.0,No
177,26-06-2024,3,2024178,00:00,00:00,0.0,No
178,27-06-2024,4,2024179,00:00,00:00,0.0,No
179,28-06-2024,5,2024180,00:00,00:00,0.0,No
180,29-06-2024,6,2024181,00:00,00:00,0.0,No
181,30-06-2024,7,2024182,00:00,00:00,0.0,No
182,01-07-2024,1,2024183,00:00,00:00,0.0,No
183,02-07-2024,2,2024184,00:00,00:00,0.0,No
184,03-07-2024,3,2024185,00:00,00:00,0.0,No
185,04-07-2024,4,2024186,00:00,00:00,0.0,No
186,05-07-2024,5,2024187,00:00,00:00,0.0,No
187,06-07-2024,6,2024188,00:00,00:00,0.0,No
188,07-07-2024,7,2024189,00:00,00:00,0.0,No
189,08-07-2024,1,2024190,00:00,00:00,0.0,No
190,09-07-2024,2,2024191,00:00,00:00,0.0,No
191,10-07-2024,3,2024192,00:00,00:00,0.0,No
192,11-07-2024,4,2024193,00:00,00:00,0.0,No
193,12-07-2024,5,2024194,00:00,00:00,0.0,No
194,13-07-2024,6,2024195,00:00,00:00,0.0,No
195,14-07-2024,7,2024196,00:00,00:00,0.0,No
196,15-07-2024,1,2024197,00:00,00:00,0.0,No
197,16-07-2024,2,2024198,00:00,00:00,0.0,No
198,17-07-2024,3,2024199,00:00,00:00,0.0,No
199,18-07-2024,4,2024200,00:00,00:00,0.0,No
200,19-07-2024,5,2024201,00:00,00:00,0.0,No
201,20-07-2024,6,2024202,00:00,00:00,0.0,No
202,21-07-2024,7,2024203,00:00,00:00,0.0,No
203,22-07-2024,1,2024204,00:00,00:00,0.0,No
204,23-07-2024,2,2024205,00:00,00:00,0.0,No
205,24-07-2024,3,2024206,00:00,00:00,0.0,No
206,25-07-2024,4,2024207,00:00,00:00,0.0,No
207,26-07-2024,5,2024208,00:00,00:00,0.0,No
208,27-07-2024,6,2024209,00:00,00:00,0.0,No
209,28-07-2024,7,2024210,00:00,00:00,0.0,No
210,29-07-2024,1,2024211,00:00,00:00,0.0,No
211,30-07-2024,2,2024212,00:00,00:00,0.0,No
212,31-07-2024,3,2024213,00:00,00:00,0.0,No
213,01-08-2024,4,2024214,00:00,00:00,0.0,No
214,02-08-2024,5,2024215,00:00,00:00,0.0,No
215,03-08-2024,6,2024216,00:00,00:00,0.0,No
216,04-08-2024,7,2024217,00:00,00:00,0.0,No
217,05-08-2024,1,2024218,00:00,00:00,0.0,No
218,06-08-2024,2,2024219,00:00,00:00,0.0,No
219,07-08-2024,3,2024220,00:00,00:00,0.0,No
220,08-08-2024,4,2024221,00:00,00:00,0.0,No
221,09-08-2024,5,2024222,00:00,00:00,0.0,No
222,10-08-2024,6,2024223,00:00,00:00,0.0,No
223,11-08-2024,7,2024224,00:00,00:00,0.0,No
224,12-08-2024,1,2024225,00:00,00:00,0.0,No
225,13-08-2024,2,2024226,00:00,00:00,0.0,No
226,14-08-2024,3,2024227,00:00,00:00,0.0,No
227,15-08-2024,4,2024228,00:00,00:00,0.0,No
228,16-08-2024,5,2024229,00:00,00:00,0.0,No
229,17-08-2024,6,2024230,00:00,00:00,0.0,No
230,18-08-2024,7,2024231,00:00,00:00,0.0,No
231,19-08-2024,1,2024232,00:00,00:00,0.0,No
232,20-08-2024,2,2024233,00:00,00:00,0.0,No
233,21-08-2024,3,2024234,00:00,00:00,0.0,No
234,22-08-2024,4,2024235,00:00,00:00,0.0,No
235,23-08-2024,5,2024236,00:00,00:00,0.0,No
236,24-08-2024,6,2024237,00:00,00:00,0.0,No
237,25-08-2024,7,2024238,00:00,00:00,0.0,No
238,26-08-2024,1,2024239,00:00,00:00,0.0,No
239,27-08-2024,2,2024240,00:00,00:00,0.0,No
240,28-08-2024,3,2024241,00:00,00:00,0.0,No
241,29-08-2024,4,2024242,00:00,00:00,0.0,No
242,30-08-2024,5,2024243,00:00,00:00,0.0,No
243,31-08-2024,6,2024244,00:00,00:00,0.0,No
244,01-09-2024,7,2024245,00:00,00:00,0.0,No
245,02-09-2024,1,2024246,00:00,00:00,0.0,No
246,03-09-2024,2,2024247,00:00,00:00,0.0,No
247,04-09-2024,3,2024248,00:00,00:00,0.0,No
248,05-09-2024,4,2024249,00:00,00:00,0.0,No
249,06-09-2024,5,2024250,00:00,00:00,0.0,No
250,07-09-2024,6,2024251,00:00,00:00,0.0,No
251,08-09-2024,7,2024252,00:00,00:00,0.0,No
252,09-09-2024,1,2024253,00:00,00:00,0.0,No
253,10-09-2024,2,2024254,00:00,00:00,0.0,No
254,11-09-2024,3,2024255,00:00,00:00,0.0,No
255,12-09-2024,4,2024256,00:00,00:00,0.0,No
256,13-09-2024,5,2024257,00:00,00:00,0.0,No
257,14-09-2024,6,2024258,00:00,00:00,0.0,No
258,15-09-2024,7,2024259,00:00,00:00,0.0,No
259,16-09-2024,1,2024260,00:00,00:00,0.0,No
260,17-09-2024,2,2024261,00:00,00:00,0.0,No
261,18-09-2024,3,2024262,00:00,00:00,0.0,No
262,19-09-2024,4,2024263,00:00,00:00,0.0,No
263,20-09-2024,5,2024264,00:00,00:00,0.0,No
264,21-09-2024,6,2024265,00:00,00:00,0.0,No
265,22-09-2024,7,2024266,00:00,00:00,0.0,No
266,23-09-2024,1,2024267,00:00,00:00,0.0,No
267,24-09-2024,2,2024268,00:00,00:00,0.0,No
268,25-09-2024,3,2024269,00:00,00:00,0.0,No
269,26-09-2024,4,2024270,00:00,00:00,0.0,No
270,27-09-2024,5,2024271,00:00,00:00,0.0,No
271,28-09-2024,6,2024272,00:00,00:00,0.0,No
272,29-09-2024,7,2024273,00:00,00:00,0.0,No
273,30-09-2024,1,2024274,00:00,00:00,0.0,No
274,01-10-2024,2,2024275,00:00,00:00,0.0,No
275,02-10-2024,3,2024276,00:00,00:00,0.0,No
276,03-10-2024,4,2024277,00:00,00:00,0.0,No
277,04-10-2024,5,2024278,00:00,00:00,0.0,No
278,05-10-2024,6,2024279,00:00,00:00,0.0,No
279,06-10-2024,7,2024280,00:00,00:00,0.0,No
280,07-10-2024,1,2024281,00:00,00:00,0.0,No
281,08-10-2024,2,2024282,00:00,00:00,0.0,No
282,09-10-2024,3,2024283,00:00,00:00,0.0,No
283,10-10-2024,4,2024284,00:00,00:00,0.0,No
284,11-10-2024,5,2024285,00:00,00:00,0.0,No
285,12-10-2024,6,2024286,00:00,00:00,0.0,No
286,13-10-2024,7,2024287,00:00,00:00,0.0,No
287,14-10-2024,1,2024288,00:00,00:00,0.0,No
288,15-10-2024,2,2024289,00:00,00:00,0.0,No
289,16-10-2024,3,2024290,00:00,00:00,0.0,No
290,17-10-2024,4,2024291,00:00,00:00,0.0,No
291,18-10-2024,5,2024292,00:00,00:00,0.0,No
292,19-10-2024,6,2024293,00:00,00:00,0.0,No
293,20-10-2024,7,2024294,00:00,00:00,0.0,No
294,21-10-2024,1,2024295,00:00,00:00,0.0,No
295,22-10-2024,2,2024296,00:00,00:00,0.0,No
296,23-10-2024,3,2024297,00:00,00:00,0.0,No
297,24-10-2024,4,2024298,00:00,00:00,0.0,No
298,25-10-2024,5,2024299,00:00,00:00,0.0,No
299,26-10-2024,6,2024300,00:00,00:00,0.0,No
300,27-10-2024,7,2024301,00:00,00:00,0.0,No
301,28-10-2024,1,2024302,00:00,00:00,0.0,No
302,29-10-2024,2,2024303,00:00,00:00,0.0,No
303,30-10-2024,3,2024304,00:00,00:00,0.0,No
304,31-10-2024,4,2024305,00:00,00:00,0.0,No
305,01-11-2024,5,2024306,00:00,00:00,0.0,No
306,02-11-2024,6,2024307,00:00,00:00,0.0,No
307,03-11-2024,7,2024308,00:00,00:00,0.0,No
308,04-11-2024,1,2024309,00:00,00:00,0.0,No
309,05-11-2024,2,2024310,00:00,00:00,0.0,No
310,06-11-2024,3,2024311,00:00,00:00,0.0,No
311,07-11-2024,4,2024312,00:00,00:00,0.0,No
312,08-11-2024,5,2024313,00:00,00:00,0.0,No
313,09-11-2024,6,2024314,00:00,00:00,0.0,No
314,10-11-2024,7,2024315,00:00,00:00,0.0,No
315,11-11-2024,1,2024316,00:00,00:00,0.0,No
316,12-11-2024,2,2024317,00:00,00:00,0.0,No
317,13-11-2024,3,2024318,00:00,00:00,0.0,No
318,14-11-2024,4,2024319,00:00,00:00,0.0,No
319,15-11-2024,5,2024320,00:00,00:00,0.0,No
320,16-11-2024,6,2024321,00:00,00:00,0.0,No
321,17-11-2024,7,2024322,00:00,00:00,0.0,No
322,18-11-2024,1,2024323,00:00,00:00,0.0,No
323,19-11-2024,2,2024324,00:00,00:00,0.0,No
324,20-11-2024,3,2024325,00:00,00:00,0.0,No
325,21-11-2024,4,2024326,00:00,00:00,0.0,No
326,22-11-2024,5,2024327,00:00,00:00,0.0,No
327,23-11-2024,6,2024328,00:00,00:00,0.0,No
328,24-11-2024,7,2024329,00:00,00:00,0.0,No
329,25-11-2024,1,2024330,00:00,00:00,0.0,No
330,26-11-2024,2,2024331,00:00,00:00,0.0,No
331,27-11-2024,3,2024332,00:00,00:00,0.0,No
332,28-11-2024,4,2024333,00:00,00:00,0.0,No
333,29-11-2024,5,2024334,00:00,00:00,0.0,No
334,30-11-2024,6,2024335,00:00,00:00,0.0,No
335,01-12-2024,7,2024336,00:00,00:00,0.0,No
336,02-12-2024,1,2024337,00:00,00:00,0.0,No
337,03-12-2024,2,2024338,00:00,00:00,0.0,No
338,04-12-2024,3,2024339,00:00,00:00,0.0,No
339,05-12-2024,4,2024340,00:00,00:00,0.0,No
340,06-12-2024,5,2024341,00:00,00:00,0.0,No
341,07-12-2024,6,2024342,00:00,00:00,0.0,No
342,08-12-2024,7,2024343,00:00,00:00,0.0,No
343,09-12-2024,1,2024344,00:00,00:00,0.0,No
344,10-12-2024,2,2024345,00:00,00:00,0.0,No
345,11-12-2024,3,2024346,00:00,00:00,0.0,No
346,12-12-2024,4,2024347,00:00,00:00,0.0,No
347,13-12-2024,5,2024348,00:00,00:00,0.0,No
348,14-12-2024,6,2024349,00:00,00:00,0.0,No
349,15-12-2024,7,2024350,00:00,00:00,0.0,No
350,16-12-2024,1,2024351,00:00,00:00,0.0,No
351,17-12-2024,2,2024352,00:00,00:00,0.0,No
352,18-12-2024,3,2024353,00:00,00:00,0.0,No
353,19-12-2024,4,2024354,00:00,00:00,0.0,No
354,20-12-2024,5,2024355,00:00,00:00,0.0,No
355,21-12-2024,6,2024356,00:00,00:00,0.0,No
356,22-12-2024,7,2024357,00:00,00:00,0.0,No
357,23-12-2024,1,2024358,00:00,00:00,0.0,No
358,24-12-2024,2,2024359,00:00,00:00,0.0,No
359,25-12-2024,3,2024360,00:00,00:00,0.0,No
360,26-12-2024,4,2024361,00:00,00:00,0.0,No
361,27-12-2024,5,2024362,00:00,00:00,0.0,No
362,28-12-2024,6,2024363,00:00,00:00,0.0,No
363,29-12-2024,7,2024364,00:00,00:00,0.0,No
364,30-12-2024,1,2024365,00:00,00:00,0.0,No
365,31-12-2024,2,2024366,00:00,00:00,0.0,No

In [60]:
def transform_calendar(clndr_data):
    # Prepare an empty list to collect data
    output = []

    # Iterate over dataframe
    for row in clndr_data:
        # Split the string data
        split_strings = row.split("(0||")

        for split_string in split_strings:
            row_data = {}
            if "DaysOfWeek" in split_string:
                row_data['type'] = "DaysOfWeek"
            elif "Exceptions" in split_string:
                row_data['type'] = "Exceptions"

            if 's|' in split_string and 'f|' in split_string:
                start_time = split_string[split_string.find("s|") + 2:split_string.find("s|") + 6]
                finish_time = split_string[split_string.find("f|") + 2:split_string.find("f|") + 6]

                # Convert string time to datetime.time object
                start_time = datetime.datetime.strptime(start_time, "%H:%M").time()
                finish_time = datetime.datetime.strptime(finish_time, "%H:%M").time()

                row_data['start_time'] = start_time
                row_data['finish_time'] = finish_time

                # Calculate working hours considering the day turn after midnight
                if finish_time > start_time:
                    row_data['working_hours'] = datetime.datetime.combine(datetime.date.today(),
                                                                          finish_time) - datetime.datetime.combine(
                        datetime.date.today(), start_time)
                else:  # the shift ends after midnight
                    row_data['working_hours'] = datetime.datetime.combine(datetime.date.today(),
                                                                          finish_time) + datetime.timedelta(
                        days=1) - datetime.datetime.combine(datetime.date.today(), start_time)

            # Append new row into output list
            output.append(row_data)

    # Convert list of dicts to a DataFrame
    output_df = pd.DataFrame(output)

    return output_df

In [61]:
new_calendar = transform_calendar(clndr_data)

In [62]:
new_calendar

          type start_time finish_time   working_hours
0          NaN        NaN         NaN             NaT
1          NaN        NaN         NaN             NaT
2   DaysOfWeek        NaN         NaN             NaT
3          NaN        NaN         NaN             NaT
4          NaN   07:00:00    17:00:00 0 days 10:00:00
5          NaN        NaN         NaN             NaT
6          NaN   07:00:00    17:00:00 0 days 10:00:00
7          NaN        NaN         NaN             NaT
8          NaN   07:00:00    17:00:00 0 days 10:00:00
9          NaN        NaN         NaN             NaT
10         NaN   07:00:00    17:00:00 0 days 10:00:00
11         NaN        NaN         NaN             NaT
12         NaN   07:00:00    17:00:00 0 days 10:00:00
13         NaN        NaN         NaN             NaT
14         NaN        NaN         NaN             NaT
15         NaN   07:00:00    17:00:00 0 days 10:00:00
16         NaN        NaN         NaN             NaT
17  Exceptions        NaN         NaN             NaT
18         NaN        NaN         NaN             NaT
19         NaN   08:00:00    16:00:00 0 days 08:00:00
20         NaN        NaN         NaN             NaT
21         NaN        NaN         NaN             NaT
22         NaN        NaN         NaN             NaT
23         NaN        NaN         NaN             NaT
24         NaN        NaN         NaN             NaT
25         NaN        NaN         NaN             NaT
26         NaN        NaN         NaN             NaT
27         NaN        NaN         NaN             NaT
28         NaN        NaN         NaN             NaT
29         NaN        NaN         NaN             NaT
30         NaN        NaN         NaN             NaT
31         NaN        NaN         NaN             NaT
32         NaN        NaN         NaN             NaT
33         NaN        NaN         NaN             NaT
34         NaN        NaN         NaN             NaT
35         NaN        NaN         NaN             NaT
36         NaN        NaN         NaN             NaT
37         NaN        NaN         NaN             NaT
38         NaN        NaN         NaN             NaT
39         NaN        NaN         NaN             NaT
40         NaN        NaN         NaN             NaT
41         NaN        NaN         NaN             NaT
42         NaN        NaN         NaN             NaT
43         NaN        NaN         NaN             NaT
44         NaN        NaN         NaN             NaT
45         NaN        NaN         NaN             NaT
46         NaN        NaN         NaN             NaT
47         NaN        NaN         NaN             NaT
48         NaN        NaN         NaN             NaT
49         NaN        NaN         NaN             NaT
50         NaN        NaN         NaN             NaT
51         NaN        NaN         NaN             NaT
52         NaN        NaN         NaN             NaT
53         NaN        NaN         NaN             NaT
54         NaN        NaN         NaN             NaT
55         NaN        NaN         NaN             NaT
56         NaN        NaN         NaN             NaT
57         NaN        NaN         NaN             NaT
58         NaN        NaN         NaN             NaT
59         NaN        NaN         NaN             NaT
60         NaN        NaN         NaN             NaT
61         NaN        NaN         NaN             NaT
62         NaN   07:00:00    17:00:00 0 days 10:00:00
63         NaN        NaN         NaN             NaT
64         NaN        NaN         NaN             NaT
65         NaN        NaN         NaN             NaT
66         NaN        NaN         NaN             NaT
67         NaN        NaN         NaN             NaT
68         NaN        NaN         NaN             NaT
69         NaN        NaN         NaN             NaT
70         NaN        NaN         NaN             NaT
71         NaN        NaN         NaN             NaT
72         NaN        NaN         NaN             NaT
73         NaN        NaN         NaN             NaT

In [76]:
import pandas as pd
import numpy as np

# Load the calendar data into a DataFrame
calendar_df = pd.read_excel('TST00.xlsx', sheet_name='CALENDAR')

# Find the column index of 'clndr_data'
clndr_data_col = calendar_df.columns.get_loc('clndr_data')

# Initialize an empty DataFrame for Cal_Data
cal_data_columns = ["clndr_id", "Data", "type", "Date", "Hours", "Key"]
cal_data_df = pd.DataFrame(columns=cal_data_columns)

# Counter for the new rows
c = 0

# Iterate over each row in the calendar DataFrame starting from the second row
for i in range(0, len(calendar_df)):
    split_string = calendar_df.iloc[i, clndr_data_col]
    split_target = split_string.split('(0||')
    
    # Create new rows for each split part
    new_rows = pd.DataFrame({
        "clndr_id": [calendar_df.iloc[i, 1]] * len(split_target),
        "Data": split_target
    })
    
    # Append new rows to the Cal_Data DataFrame
    cal_data_df = pd.concat([cal_data_df, new_rows], ignore_index=True)
    c += len(split_target)

# Reset index if needed
cal_data_df.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
print(cal_data_df)

   clndr_id                           Data type Date Hours  Key
0       993                                 NaN  NaN   NaN  NaN
1       993            CalendarData()(    NaN  NaN   NaN  NaN
2       993            DaysOfWeek()(      NaN  NaN   NaN  NaN
3       993                   1()(        NaN  NaN   NaN  NaN
4       993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
5       993                   2()(        NaN  NaN   NaN  NaN
6       993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
7       993                   3()(        NaN  NaN   NaN  NaN
8       993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
9       993                   4()(        NaN  NaN   NaN  NaN
10      993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
11      993                   5()(        NaN  NaN   NaN  NaN
12      993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
13      993                   6()())      NaN  NaN   NaN  NaN
14      993                   7()(        NaN  NaN   NaN  NaN
15      993  0(s|07:00|f|17:00)())))))    NaN  NaN   NaN  NaN
16      993       VIEW(ShowTotal|Y)())    NaN  NaN   NaN  NaN
17      993            Exceptions()(      NaN  NaN   NaN  NaN
18      993            0(d|44197)(        NaN  NaN   NaN  NaN
19      993  0(s|08:00|f|16:00)())))      NaN  NaN   NaN  NaN
20      993            1(d|44979)())      NaN  NaN   NaN  NaN
21      993            2(d|45038)())      NaN  NaN   NaN  NaN
22      993            3(d|45039)())      NaN  NaN   NaN  NaN
23      993            4(d|45040)())      NaN  NaN   NaN  NaN
24      993            5(d|45041)())      NaN  NaN   NaN  NaN
25      993            6(d|45104)())      NaN  NaN   NaN  NaN
26      993            7(d|45105)())      NaN  NaN   NaN  NaN
27      993            8(d|45106)())      NaN  NaN   NaN  NaN
28      993            9(d|45108)())      NaN  NaN   NaN  NaN
29      993           10(d|45192)())      NaN  NaN   NaN  NaN
30      993           11(d|45344)())      NaN  NaN   NaN  NaN
31      993           12(d|45391)())      NaN  NaN   NaN  NaN
32      993           13(d|45392)())      NaN  NaN   NaN  NaN
33      993           14(d|45393)())      NaN  NaN   NaN  NaN
34      993           15(d|45395)())      NaN  NaN   NaN  NaN
35      993           16(d|45458)())      NaN  NaN   NaN  NaN
36      993           17(d|45459)())      NaN  NaN   NaN  NaN
37      993           18(d|45460)())      NaN  NaN   NaN  NaN
38      993           19(d|45461)())      NaN  NaN   NaN  NaN
39      993           20(d|45558)())      NaN  NaN   NaN  NaN
40      993           21(d|45679)())      NaN  NaN   NaN  NaN
41      993           22(d|45710)())      NaN  NaN   NaN  NaN
42      993           23(d|45746)())      NaN  NaN   NaN  NaN
43      993           24(d|45747)())      NaN  NaN   NaN  NaN
44      993           25(d|45748)())      NaN  NaN   NaN  NaN
45      993           26(d|45749)())      NaN  NaN   NaN  NaN
46      993           27(d|45813)())      NaN  NaN   NaN  NaN
47      993           28(d|45815)())      NaN  NaN   NaN  NaN
48      993           29(d|45816)())      NaN  NaN   NaN  NaN
49      993           30(d|45817)())      NaN  NaN   NaN  NaN
50      993           31(d|45923)())      NaN  NaN   NaN  NaN
51      993           32(d|46075)())      NaN  NaN   NaN  NaN
52      993           33(d|46100)())      NaN  NaN   NaN  NaN
53      993           34(d|46102)())      NaN  NaN   NaN  NaN
54      993           35(d|46103)())      NaN  NaN   NaN  NaN
55      993           36(d|46104)())      NaN  NaN   NaN  NaN
56      993           37(d|46168)())      NaN  NaN   NaN  NaN
57      993           38(d|46169)())      NaN  NaN   NaN  NaN
58      993           39(d|46170)())      NaN  NaN   NaN  NaN
59      993           40(d|46172)())      NaN  NaN   NaN  NaN
60      993           41(d|46173)())      NaN  NaN   NaN  NaN
61      993           42(d|46213)(        NaN  NaN   NaN  NaN
62      993  0(s|07:00|f|17:00)())))      NaN  NaN   NaN  NaN
63      993           43(d|46288)())      NaN  NaN   NaN  NaN
64      993           44(d|46440)())      NaN  NaN   NaN  NaN
65      993           45(d|46456)())      NaN  NaN   NaN  NaN
66      993           46(d|46457)())      NaN  NaN   NaN  NaN
67      993           47(d|46459)())      NaN  NaN   NaN  NaN
68      993           48(d|46460)())      NaN  NaN   NaN  NaN
69      993           49(d|46524)())      NaN  NaN   NaN  NaN
70      993           50(d|46525)())      NaN  NaN   NaN  NaN
71      993           51(d|46526)())      NaN  NaN   NaN  NaN
72      993           52(d|46527)())      NaN  NaN   NaN  NaN
73      993             53(d|46653)())))))  NaN  NaN   NaN  NaN

In [73]:
split_string

'(0||CalendarData()(\x7f\x7f  (0||DaysOfWeek()(\x7f\x7f    (0||1()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||2()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||3()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||4()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||5()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||6()())\x7f\x7f    (0||7()(\x7f\x7f      (0||0(s|07:00|f|17:00)())))))\x7f\x7f  (0||VIEW(ShowTotal|Y)())\x7f\x7f  (0||Exceptions()(\x7f\x7f    (0||0(d|44197)(\x7f\x7f      (0||0(s|08:00|f|16:00)())))\x7f\x7f    (0||1(d|44979)())\x7f\x7f    (0||2(d|45038)())\x7f\x7f    (0||3(d|45039)())\x7f\x7f    (0||4(d|45040)())\x7f\x7f    (0||5(d|45041)())\x7f\x7f    (0||6(d|45104)())\x7f\x7f    (0||7(d|45105)())\x7f\x7f    (0||8(d|45106)())\x7f\x7f    (0||9(d|45108)())\x7f\x7f    (0||10(d|45192)())\x7f\x7f    (0||11(d|45344)())\x7f\x7f    (0||12(d|45391)())\x7f\x7f    (0||13(d|45392)())\x7f\x7f    (0||14(d|45393)())\x7f\x7f    (0||15(d|45395)())\x7f\x7f    (0||16(d|45458)())\x7f\x7f    (0||17(d|45459)())\x7f\x7f    (0||18(d|45460)())\x7f\x7f    (0||19(d|45461)())\x7f\x7f    (0||20(d|45558)())\x7f\x7f    (0||21(d|45679)())\x7f\x7f    (0||22(d|45710)())\x7f\x7f    (0||23(d|45746)())\x7f\x7f    (0||24(d|45747)())\x7f\x7f    (0||25(d|45748)())\x7f\x7f    (0||26(d|45749)())\x7f\x7f    (0||27(d|45813)())\x7f\x7f    (0||28(d|45815)())\x7f\x7f    (0||29(d|45816)())\x7f\x7f    (0||30(d|45817)())\x7f\x7f    (0||31(d|45923)())\x7f\x7f    (0||32(d|46075)())\x7f\x7f    (0||33(d|46100)())\x7f\x7f    (0||34(d|46102)())\x7f\x7f    (0||35(d|46103)())\x7f\x7f    (0||36(d|46104)())\x7f\x7f    (0||37(d|46168)())\x7f\x7f    (0||38(d|46169)())\x7f\x7f    (0||39(d|46170)())\x7f\x7f    (0||40(d|46172)())\x7f\x7f    (0||41(d|46173)())\x7f\x7f    (0||42(d|46213)(\x7f\x7f      (0||0(s|07:00|f|17:00)())))\x7f\x7f    (0||43(d|46288)())\x7f\x7f    (0||44(d|46440)())\x7f\x7f    (0||45(d|46456)())\x7f\x7f    (0||46(d|46457)())\x7f\x7f    (0||47(d|46459)())\x7f\x7f    (0||48(d|46460)())\x7f\x7f    (0||49(d|46524)())\x7f\x7f    (0||50(d|46525)())\x7f\x7f    (0||51(d|46526)())\x7f\x7f    (0||52(d|46527)())\x7f\x7f    (0||53(d|46653)())))))'

In [75]:
split_target

['',
 'CalendarData()(\x7f\x7f  ',
 'DaysOfWeek()(\x7f\x7f    ',
 '1()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '2()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '3()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '4()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '5()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '6()())\x7f\x7f    ',
 '7()(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))))\x7f\x7f  ',
 'VIEW(ShowTotal|Y)())\x7f\x7f  ',
 'Exceptions()(\x7f\x7f    ',
 '0(d|44197)(\x7f\x7f      ',
 '0(s|08:00|f|16:00)())))\x7f\x7f    ',
 '1(d|44979)())\x7f\x7f    ',
 '2(d|45038)())\x7f\x7f    ',
 '3(d|45039)())\x7f\x7f    ',
 '4(d|45040)())\x7f\x7f    ',
 '5(d|45041)())\x7f\x7f    ',
 '6(d|45104)())\x7f\x7f    ',
 '7(d|45105)())\x7f\x7f    ',
 '8(d|45106)())\x7f\x7f    ',
 '9(d|45108)())\x7f\x7f    ',
 '10(d|45192)())\x7f\x7f    ',
 '11(d|45344)())\x7f\x7f    ',
 '12(d|45391)())\x7f\x7f    ',
 '13(d|45392)())\x7f\x7f    ',
 '14(d|45393)())\x7f\x7f    ',
 '15(d|45395)())\x7f\x7f    ',
 '16(d|45458)())\x7f\x7f    ',
 '17(d|45459)())\x7f\x7f    ',
 '18(d|45460)())\x7f\x7f    ',
 '19(d|45461)())\x7f\x7f    ',
 '20(d|45558)())\x7f\x7f    ',
 '21(d|45679)())\x7f\x7f    ',
 '22(d|45710)())\x7f\x7f    ',
 '23(d|45746)())\x7f\x7f    ',
 '24(d|45747)())\x7f\x7f    ',
 '25(d|45748)())\x7f\x7f    ',
 '26(d|45749)())\x7f\x7f    ',
 '27(d|45813)())\x7f\x7f    ',
 '28(d|45815)())\x7f\x7f    ',
 '29(d|45816)())\x7f\x7f    ',
 '30(d|45817)())\x7f\x7f    ',
 '31(d|45923)())\x7f\x7f    ',
 '32(d|46075)())\x7f\x7f    ',
 '33(d|46100)())\x7f\x7f    ',
 '34(d|46102)())\x7f\x7f    ',
 '35(d|46103)())\x7f\x7f    ',
 '36(d|46104)())\x7f\x7f    ',
 '37(d|46168)())\x7f\x7f    ',
 '38(d|46169)())\x7f\x7f    ',
 '39(d|46170)())\x7f\x7f    ',
 '40(d|46172)())\x7f\x7f    ',
 '41(d|46173)())\x7f\x7f    ',
 '42(d|46213)(\x7f\x7f      ',
 '0(s|07:00|f|17:00)())))\x7f\x7f    ',
 '43(d|46288)())\x7f\x7f    ',
 '44(d|46440)())\x7f\x7f    ',
 '45(d|46456)())\x7f\x7f    ',
 '46(d|46457)())\x7f\x7f    ',
 '47(d|46459)())\x7f\x7f    ',
 '48(d|46460)())\x7f\x7f    ',
 '49(d|46524)())\x7f\x7f    ',
 '50(d|46525)())\x7f\x7f    ',
 '51(d|46526)())\x7f\x7f    ',
 '52(d|46527)())\x7f\x7f    ',
 '53(d|46653)())))))']

In [77]:
# Assume cal_data_df is the DataFrame from the previous section

# Function to classify data
def classify_data(data):
    if "DaysOfWeek" in data:
        return "DaysOfWeek"
    elif "Exceptions" in data:
        return "Exceptions"
    else:
        return np.nan

# Apply the classification function to the Data column
cal_data_df['type'] = cal_data_df['Data'].apply(classify_data)

# Display the resulting DataFrame
print(cal_data_df)

   clndr_id                           Data        type Date Hours  Key
0       993                                        NaN  NaN   NaN  NaN
1       993            CalendarData()(           NaN  NaN   NaN  NaN
2       993            DaysOfWeek()(      DaysOfWeek  NaN   NaN  NaN
3       993                   1()(               NaN  NaN   NaN  NaN
4       993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
5       993                   2()(               NaN  NaN   NaN  NaN
6       993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
7       993                   3()(               NaN  NaN   NaN  NaN
8       993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
9       993                   4()(               NaN  NaN   NaN  NaN
10      993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
11      993                   5()(               NaN  NaN   NaN  NaN
12      993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
13      993                   6()())             NaN  NaN   NaN  NaN
14      993                   7()(               NaN  NaN   NaN  NaN
15      993  0(s|07:00|f|17:00)())))))           NaN  NaN   NaN  NaN
16      993       VIEW(ShowTotal|Y)())           NaN  NaN   NaN  NaN
17      993            Exceptions()(      Exceptions  NaN   NaN  NaN
18      993            0(d|44197)(               NaN  NaN   NaN  NaN
19      993  0(s|08:00|f|16:00)())))             NaN  NaN   NaN  NaN
20      993            1(d|44979)())             NaN  NaN   NaN  NaN
21      993            2(d|45038)())             NaN  NaN   NaN  NaN
22      993            3(d|45039)())             NaN  NaN   NaN  NaN
23      993            4(d|45040)())             NaN  NaN   NaN  NaN
24      993            5(d|45041)())             NaN  NaN   NaN  NaN
25      993            6(d|45104)())             NaN  NaN   NaN  NaN
26      993            7(d|45105)())             NaN  NaN   NaN  NaN
27      993            8(d|45106)())             NaN  NaN   NaN  NaN
28      993            9(d|45108)())             NaN  NaN   NaN  NaN
29      993           10(d|45192)())             NaN  NaN   NaN  NaN
30      993           11(d|45344)())             NaN  NaN   NaN  NaN
31      993           12(d|45391)())             NaN  NaN   NaN  NaN
32      993           13(d|45392)())             NaN  NaN   NaN  NaN
33      993           14(d|45393)())             NaN  NaN   NaN  NaN
34      993           15(d|45395)())             NaN  NaN   NaN  NaN
35      993           16(d|45458)())             NaN  NaN   NaN  NaN
36      993           17(d|45459)())             NaN  NaN   NaN  NaN
37      993           18(d|45460)())             NaN  NaN   NaN  NaN
38      993           19(d|45461)())             NaN  NaN   NaN  NaN
39      993           20(d|45558)())             NaN  NaN   NaN  NaN
40      993           21(d|45679)())             NaN  NaN   NaN  NaN
41      993           22(d|45710)())             NaN  NaN   NaN  NaN
42      993           23(d|45746)())             NaN  NaN   NaN  NaN
43      993           24(d|45747)())             NaN  NaN   NaN  NaN
44      993           25(d|45748)())             NaN  NaN   NaN  NaN
45      993           26(d|45749)())             NaN  NaN   NaN  NaN
46      993           27(d|45813)())             NaN  NaN   NaN  NaN
47      993           28(d|45815)())             NaN  NaN   NaN  NaN
48      993           29(d|45816)())             NaN  NaN   NaN  NaN
49      993           30(d|45817)())             NaN  NaN   NaN  NaN
50      993           31(d|45923)())             NaN  NaN   NaN  NaN
51      993           32(d|46075)())             NaN  NaN   NaN  NaN
52      993           33(d|46100)())             NaN  NaN   NaN  NaN
53      993           34(d|46102)())             NaN  NaN   NaN  NaN
54      993           35(d|46103)())             NaN  NaN   NaN  NaN
55      993           36(d|46104)())             NaN  NaN   NaN  NaN
56      993           37(d|46168)())             NaN  NaN   NaN  NaN
57      993           38(d|46169)())             NaN  NaN   NaN  NaN
58      993           39(d|46170)())             NaN  NaN   NaN  NaN
59      993           40(d|46172)())             NaN  NaN   NaN  NaN
60      993           41(d|46173)())             NaN  NaN   NaN  NaN
61      993           42(d|46213)(               NaN  NaN   NaN  NaN
62      993  0(s|07:00|f|17:00)())))             NaN  NaN   NaN  NaN
63      993           43(d|46288)())             NaN  NaN   NaN  NaN
64      993           44(d|46440)())             NaN  NaN   NaN  NaN
65      993           45(d|46456)())             NaN  NaN   NaN  NaN
66      993           46(d|46457)())             NaN  NaN   NaN  NaN
67      993           47(d|46459)())             NaN  NaN   NaN  NaN
68      993           48(d|46460)())             NaN  NaN   NaN  NaN
69      993           49(d|46524)())             NaN  NaN   NaN  NaN
70      993           50(d|46525)())             NaN  NaN   NaN  NaN
71      993           51(d|46526)())             NaN  NaN   NaN  NaN
72      993           52(d|46527)())             NaN  NaN   NaN  NaN
73      993             53(d|46653)())))))         NaN  NaN   NaN  NaN

In [79]:
from datetime import datetime, timedelta

# Function to extract date and calculate hours
def extract_date_and_hours(row):
    data = row['Data']
    row_type = row['type']
    
    # Initialize date and hours
    date = np.nan
    hours = np.nan

    if row_type == "DaysOfWeek" and data.startswith("()"):
        date = data[1]
    elif row_type == "Exceptions" and "(d|)" in data:
        date = data.split("(d|")[1][:5]

    if "s|" in data and "f|" in data:
        s_index = data.index("s|") + 2
        f_index = data.index("f|") + 2
        start_time_str = data[s_index:s_index + 4]
        end_time_str = data[f_index:f_index + 4]

        # Check if the extracted strings are valid time formats
        if len(start_time_str) == 4 and len(end_time_str) == 4:
            try:
                start_time = datetime.strptime(start_time_str, '%H%M')
                end_time = datetime.strptime(end_time_str, '%H%M')
                if start_time == end_time:
                    hours = 24
                else:
                    hours = (end_time - start_time).seconds / 3600  # Convert to hours
                    if start_time > end_time:
                        hours = 24 - hours
            except ValueError:
                # Handle the case where time conversion fails
                pass

    return pd.Series([date, hours])

# Apply the function to each row
cal_data_df[['Date', 'Hours']] = cal_data_df.apply(extract_date_and_hours, axis=1)

# Fill missing 'type' values with the previous row's 'type'
cal_data_df['type'].fillna(method='ffill', inplace=True)

# Inherit date from previous row if conditions are met
for i in range(1, len(cal_data_df)):
    if pd.isna(cal_data_df.at[i, 'Date']) and cal_data_df.at[i, 'type'] == cal_data_df.at[i-1, 'type'] and \
       cal_data_df.at[i, 'clndr_id'] == cal_data_df.at[i-1, 'clndr_id'] and "VIEW(ShowTotal|Y)" not in cal_data_df.at[i, 'Data']:
        cal_data_df.at[i, 'Date'] = cal_data_df.at[i-1, 'Date']

# Display the resulting DataFrame
print(cal_data_df)

   clndr_id                           Data        type  Date  Hours  Key
0       993                                        NaN   NaN    NaN  NaN
1       993            CalendarData()(           NaN   NaN    NaN  NaN
2       993            DaysOfWeek()(      DaysOfWeek   NaN    NaN  NaN
3       993                   1()(        DaysOfWeek   NaN    NaN  NaN
4       993  0(s|07:00|f|17:00)())))      DaysOfWeek   NaN    NaN  NaN
5       993                   2()(        DaysOfWeek   NaN    NaN  NaN
6       993  0(s|07:00|f|17:00)())))      DaysOfWeek   NaN    NaN  NaN
7       993                   3()(        DaysOfWeek   NaN    NaN  NaN
8       993  0(s|07:00|f|17:00)())))      DaysOfWeek   NaN    NaN  NaN
9       993                   4()(        DaysOfWeek   NaN    NaN  NaN
10      993  0(s|07:00|f|17:00)())))      DaysOfWeek   NaN    NaN  NaN
11      993                   5()(        DaysOfWeek   NaN    NaN  NaN
12      993  0(s|07:00|f|17:00)())))      DaysOfWeek   NaN    NaN  NaN
13      993                   6()())      DaysOfWeek   NaN    NaN  NaN
14      993                   7()(        DaysOfWeek   NaN    NaN  NaN
15      993  0(s|07:00|f|17:00)())))))    DaysOfWeek   NaN    NaN  NaN
16      993       VIEW(ShowTotal|Y)())    DaysOfWeek   NaN    NaN  NaN
17      993            Exceptions()(      Exceptions   NaN    NaN  NaN
18      993            0(d|44197)(        Exceptions   NaN    NaN  NaN
19      993  0(s|08:00|f|16:00)())))      Exceptions   NaN    NaN  NaN
20      993            1(d|44979)())      Exceptions   NaN    NaN  NaN
21      993            2(d|45038)())      Exceptions   NaN    NaN  NaN
22      993            3(d|45039)())      Exceptions   NaN    NaN  NaN
23      993            4(d|45040)())      Exceptions   NaN    NaN  NaN
24      993            5(d|45041)())      Exceptions   NaN    NaN  NaN
25      993            6(d|45104)())      Exceptions   NaN    NaN  NaN
26      993            7(d|45105)())      Exceptions   NaN    NaN  NaN
27      993            8(d|45106)())      Exceptions   NaN    NaN  NaN
28      993            9(d|45108)())      Exceptions   NaN    NaN  NaN
29      993           10(d|45192)())      Exceptions   NaN    NaN  NaN
30      993           11(d|45344)())      Exceptions   NaN    NaN  NaN
31      993           12(d|45391)())      Exceptions   NaN    NaN  NaN
32      993           13(d|45392)())      Exceptions   NaN    NaN  NaN
33      993           14(d|45393)())      Exceptions   NaN    NaN  NaN
34      993           15(d|45395)())      Exceptions   NaN    NaN  NaN
35      993           16(d|45458)())      Exceptions   NaN    NaN  NaN
36      993           17(d|45459)())      Exceptions   NaN    NaN  NaN
37      993           18(d|45460)())      Exceptions   NaN    NaN  NaN
38      993           19(d|45461)())      Exceptions   NaN    NaN  NaN
39      993           20(d|45558)())      Exceptions   NaN    NaN  NaN
40      993           21(d|45679)())      Exceptions   NaN    NaN  NaN
41      993           22(d|45710)())      Exceptions   NaN    NaN  NaN
42      993           23(d|45746)())      Exceptions   NaN    NaN  NaN
43      993           24(d|45747)())      Exceptions   NaN    NaN  NaN
44      993           25(d|45748)())      Exceptions   NaN    NaN  NaN
45      993           26(d|45749)())      Exceptions   NaN    NaN  NaN
46      993           27(d|45813)())      Exceptions   NaN    NaN  NaN
47      993           28(d|45815)())      Exceptions   NaN    NaN  NaN
48      993           29(d|45816)())      Exceptions   NaN    NaN  NaN
49      993           30(d|45817)())      Exceptions   NaN    NaN  NaN
50      993           31(d|45923)())      Exceptions   NaN    NaN  NaN
51      993           32(d|46075)())      Exceptions   NaN    NaN  NaN
52      993           33(d|46100)())      Exceptions   NaN    NaN  NaN
53      993           34(d|46102)())      Exceptions   NaN    NaN  NaN
54      993           35(d|46103)())      Exceptions   NaN    NaN  NaN
55      993           36(d|46104)())      Exceptions   NaN    NaN  NaN
56      993           37(d|46168)())      Exceptions   NaN    NaN  NaN
57      993           38(d|46169)())      Exceptions   NaN    NaN  NaN
58      993           39(d|46170)())      Exceptions   NaN    NaN  NaN
59      993           40(d|46172)())      Exceptions   NaN    NaN  NaN
60      993           41(d|46173)())      Exceptions   NaN    NaN  NaN
61      993           42(d|46213)(        Exceptions   NaN    NaN  NaN
62      993  0(s|07:00|f|17:00)())))      Exceptions   NaN    NaN  NaN
63      993           43(d|46288)())      Exceptions   NaN    NaN  NaN
64      993           44(d|46440)())      Exceptions   NaN    NaN  NaN
65      993           45(d|46456)())      Exceptions   NaN    NaN  NaN
66      993           46(d|46457)())      Exceptions   NaN    NaN  NaN
67      993           47(d|46459)())      Exceptions   NaN    NaN  NaN
68      993           48(d|46460)())      Exceptions   NaN    NaN  NaN
69      993           49(d|46524)())      Exceptions   NaN    NaN  NaN
70      993           50(d|46525)())      Exceptions   NaN    NaN  NaN
71      993           51(d|46526)())      Exceptions   NaN    NaN  NaN
72      993           52(d|46527)())      Exceptions   NaN    NaN  NaN
73      993             53(d|46653)())))))  Exceptions   NaN    NaN  NaN

C:\Users\abdra\AppData\Local\Temp\ipykernel_15384\1065328383.py:44: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cal_data_df['type'].fillna(method='ffill', inplace=True)
C:\Users\abdra\AppData\Local\Temp\ipykernel_15384\1065328383.py:44: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cal_data_df['type'].fillna(method='ffill', inplace=True)